@import url('https://fonts.googleapis.com/css2?family=Mate&family=Vollkorn+SC&display=swap');

*{
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 510px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board {
  width: 514px;
  height: 514px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 2px solid #565c5e;
  margin-top: 10px;
}

.box {
  width: 170px;
  height: 170px;
  box-sizing: border-box;
  border: 2px solid #565c5e;
  font-family: "Vollkorn SC", serif;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdbd8;
  color: #565c5e;
}

.current-player,
.start-game {
  font-family: "Mate", sans-serif;
  font-size: 24px;
}

.start-game {
  padding: 0px 6px 0px 6px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(86, 92, 94, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 600px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9d7463;
  color: #b5c2c7;
  box-shadow: 
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.modal-header {
  font-family: "Vollkorn SC", serif;
  font-size: 36px;
  font-weight: 900;
  padding: 20px 0 5px 0;
}

.modal-player {
  font-size: 50px;
  font-family: "Vollkorn SC", serif;
}

.modal-body {
  font-family: "Mate", serif;
  font-size: 24px;
  width: 480px;
  text-align: center;
}